@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import 'variables';

@keyframes launchOpen {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0%);
    }
}

body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

img {
    user-select: none;
    -webkit-user-drag: none;
}

* {
    user-select: none;
}

.main {
    width: 100vw;
    height: 100vh;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-image: url('../assets/img/bg-new-1.png');
    backdrop-filter: brightness(100%);
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    // filter: blur(10px);
    grid-template-columns: 0.060fr 1fr;
    // border-radius: 10px;
}

.nav {
    background-color: $primary;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    position: relative;
    border-right: 1px solid $primary-color;
    z-index: 12;
    // box-shadow: 0 0 5px black;
    img {
        width: 60%;
        margin-top: 1.5vw;
        // height: 10%;
    }
    .nav__icon {
        list-style: none;
        color: white;
        font-size: 2vw;
        margin-top: 2vw;
        opacity: 0.5;
        transition: 180ms;
        cursor: pointer;
        &:hover {
            opacity: 0.75;
        }
        &:nth-of-type(1) {
            margin-top: auto;
        }
        &:nth-of-type(4) {
            margin-bottom: 2vw;
        }
    }
    .nav__icon.selected {
        opacity: 1;
    }
}

.section__nav {
    z-index: 11;
    width: 100%;
    height: 7.5%;
    background-color: $primary;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid $primary-color;
    // position: absolute;
    -webkit-app-region: drag;
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    z-index: 11;
    h2 {
        font-family: Poppins;
        color: white;
        margin-left: 1vw;
        font-size: 1.5vw;
    }
    .btn__nav {
        width: 4%;
        height: 100%;
        // border-radius: 100%;
        border: none;   
        outline: none;
        margin-right: 2px;
        font-size: 1.5vw;
        background-color: transparent;
        opacity: 0.5;
        color: white;
        transition: 180ms;
        -webkit-app-region: none;
        &:hover {
            opacity: 1;
        }
        &:active {
            color: $primary-color;
        }
        &:nth-of-type(2) {
            margin-right: 1vw;
        }
    }
    .profile {
        // width: 30%;
        padding: 5px 5px 5px 5px;
        height: 50%;
        background-color: rgba(255, 255, 255, 0.15);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-right: 2vw;
        margin-left: auto;
        border-radius: 5px;
        cursor: pointer;
        transition: 180ms;
        -webkit-app-region: none;
        &:hover {
            background-color: rgba(255, 255, 255, 0.25);
        }
        // Menu functionality and animation
        &:hover .profile__menu {
            transform: scale(1)
        }
        .profile__img {
            width: 20%;
            border-radius: 5px;
        }
        .profile__name {
            color: white;
            font-family: Poppins;
            margin-left: 5px;
        }
        .profile__menu {
            position: absolute;
            top: 100%;
            height: max-content;
            background-color: rgb(29, 29, 29);
            width: 12.75%;
            border-radius: 5px;
            overflow: hidden;
            color: white;
            font-family: Poppins;
            display: flex;
            flex-direction: column;
            // align-items: center;
            justify-content: center;
            box-sizing: border-box;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
            transform-origin: top;
            transition: 180ms;
            transform: scale(0);
            // backdrop-filter: blur(10px);
            button {
                position: relative;
                border: none;
                outline: none;
                width: 100%;
                color: white;
                margin:  0 0 0 0;
                background-color: transparent;
                // transform: translateX(1px);
                text-align: center;
                transition: 180ms;
                // background-color: red;
                // border-radius: 5px;
                padding: 10px 10px 10px 10px;
                cursor: pointer;
                
            }
            #login:hover {
                background-color: #2980b9;
            }
            #logout:hover {
                background-color: #c0392b;
            }
            #login:active {
                background-color: #17679c;
            }
            #logout:active {
                background-color: #ac291b;
            }
        }
    }
}


.section__body {
    width: 100%;
    height: 92.5%;
    backdrop-filter: blur(10px);
    position: relative;
    z-index: 10;
    display: grid;
    grid-template-columns: 0.6fr 0.4fr;
    .column1 {
        display: grid;
        grid-template-rows: 0.5fr 0.5fr;
        .launch {
            width: 80%;
            height: 80%;
            display: flex;
            align-self: center;
            justify-self: center;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: $primary;
            backdrop-filter: blur(10px);
            color: white;
            border-radius: 10px;
            // box-shadow: 0 0 5px black;
            font-family: Poppins;
            animation: launchOpen 500ms ease-in-out;
            .launch__versions {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                .launch__version {
                    padding: 5px 10px 5px 10px;
                    margin: 5px 5px 5px 5px;
                    border-radius: 10px;
                    // box-shadow: 0 0 5px $secondary-color;
                    border: 2px solid $secondary-color;
                }
                .launch__version.selected {
                    // background-color: $primary-color;
                    box-shadow: 0 0 5px $primary-color;
                    border: 2px solid $primary-color;
                }
            }
            .launch__client {
                margin-top: 20px;
                padding: 10px 30px 10px 30px;
                border: none;
                outline: none;
                background-color: $primary-color;
                border-radius: 5px;
                color: white;
                cursor: pointer;
                transition: 180ms;
                &:hover {
                    background-color: $primary-hover-color;
                }
                &:focus {
                    box-shadow: 0 0 0 5px #3498db2f;
                }
            }
        }
        .partners {
            width: 80%;
            height: 80%;
            display: flex;
            align-self: center;
            justify-self: center;
            flex-direction: column;
            // justify-content: center;
            align-items: center;
            background-color: $primary;
            backdrop-filter: blur(10px);
            color: white;
            border-radius: 10px;
            // box-shadow: 0 0 5px black;
            font-family: Poppins;
            animation: launchOpen 500ms ease-in-out;
            h2 {
                margin-top: 2vw;
            }
            .partners__list {
                width: 80%;
                height: 17.5%;
                background-color: $primary;
                display: flex;
                flex-direction: row;
                padding: 10px 10px 10px 10px;
                border-radius: 10px;
                div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    padding: 0 0 0 0; 
                    position: relative;
                    overflow: hidden;
                    p {
                        margin: 0 0 0 20px;
                        opacity: 0.5;
                    }
                    h3 {
                        margin: 0 0 0 -40px;
                    }
                }
                img {
                    width: 10%;
                    border-radius: 5px;
                }
            }
        }
    }
    .posts {
        display: flex;
        // align-items: center;
        justify-content: center;
        // overflow-x: hidden;
        // overflow-y: scroll;
        flex-direction: column;
        .post__item {
            width: 80%;
            height: 55%;
            background-color: $primary;
            color: white;
            font-family: Poppins;
            border-radius: 10px;
            overflow: hidden;
            margin-top: 2.5vw;
            .post__image {
                width: 100%;
            }
            .post__title {
                margin: 0 0 0 15px;
                // font-size: 2vw;
            }
            .post__description {
                margin: 3px 0 0 15px;
                opacity: 0.5;
            }
        }
    }
}
